html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: black;
  overflow: hidden;
  -webkit-filter: hue-rotate(0deg);
          filter: hue-rotate(0deg);
  -webkit-animation: huerot 5s ease infinite;
          animation: huerot 5s ease infinite;
}

/** for goo container **/
.glowy-blob {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50, -50);
          transform: translate(-50, -50);
  -webkit-filter: url("#goo");
          filter: url("#goo");
}

.glowy-blob div {
  width: 80px;
  height: 80px;
  background: #85ede8;
  border-radius: 500px;
  display: inline-block;
  position: absolute;
  -webkit-box-shadow: 0px 0px 50px #85ede8;
          box-shadow: 0px 0px 50px #85ede8;
}

.glowy-blob div:nth-child(2) {
  width: 32px;
  height: 32px;
  left: -51px;
}

.glowy-blob div:nth-child(3) {
  width: 53px;
  height: 53px;
  left: 58px;
}

.glowy-blob div:nth-child(4) {
  width: 60px;
  height: 60px;
  left: -51px;
}

.glowy-blob div:nth-child(5) {
  width: 48px;
  height: 48px;
  left: 24px;
}

.glowy-blob div:nth-child(6) {
  width: 49px;
  height: 49px;
  left: -31px;
}

.glowy-blob div:nth-child(7) {
  width: 37px;
  height: 37px;
  left: -32px;
}

.glowy-blob div:nth-child(8) {
  width: 37px;
  height: 37px;
  left: -19px;
}

.glowy-blob div:nth-child(9) {
  width: 46px;
  height: 46px;
  left: -27px;
}

.glowy-blob div:nth-child(10) {
  width: 45px;
  height: 45px;
  left: -59px;
}

.glowy-blob div:nth-child(11) {
  width: 54px;
  height: 54px;
  left: -57px;
}

.glowy-blob div:nth-child(12) {
  width: 54px;
  height: 54px;
  left: -44px;
}

.glowy-blob div:nth-child(13) {
  width: 39px;
  height: 39px;
  left: 1px;
}

.glowy-blob div:nth-child(14) {
  width: 46px;
  height: 46px;
  left: 20px;
}

.glowy-blob div:nth-child(15) {
  width: 45px;
  height: 45px;
  left: 47px;
}

.glowy-blob div:nth-child(16) {
  width: 59px;
  height: 59px;
  left: -54px;
}

.glowy-blob div:nth-child(1) {
  top: 0;
  left: 0;
  -webkit-animation: anim-1 2.5s ease-in-out infinite;
          animation: anim-1 2.5s ease-in-out infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes anim-1 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes anim-1 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.glowy-blob div:nth-child(2) {
  top: 0;
  left: 0;
  -webkit-animation: anim-2 2.5s ease-in-out infinite;
          animation: anim-2 2.5s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes anim-2 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: -51px;
    top: 55px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes anim-2 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: -51px;
    top: 55px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.glowy-blob div:nth-child(3) {
  top: 0;
  left: 0;
  -webkit-animation: anim-3 2.5s ease-in-out infinite;
          animation: anim-3 2.5s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes anim-3 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 58px;
    top: 49px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes anim-3 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 58px;
    top: 49px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.glowy-blob div:nth-child(4) {
  top: 0;
  left: 0;
  -webkit-animation: anim-4 2.5s ease-in-out infinite;
          animation: anim-4 2.5s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes anim-4 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: -51px;
    top: 39px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes anim-4 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: -51px;
    top: 39px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.glowy-blob div:nth-child(5) {
  top: 0;
  left: 0;
  -webkit-animation: anim-5 2.5s ease-in-out infinite;
          animation: anim-5 2.5s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes anim-5 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 24px;
    top: -55px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes anim-5 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 24px;
    top: -55px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.glowy-blob div:nth-child(6) {
  top: 0;
  left: 0;
  -webkit-animation: anim-6 2.5s ease-in-out infinite;
          animation: anim-6 2.5s ease-in-out infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes anim-6 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: -31px;
    top: -28px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes anim-6 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: -31px;
    top: -28px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.glowy-blob div:nth-child(7) {
  top: 0;
  left: 0;
  -webkit-animation: anim-7 2.5s ease-in-out infinite;
          animation: anim-7 2.5s ease-in-out infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes anim-7 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: -32px;
    top: -55px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes anim-7 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: -32px;
    top: -55px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.glowy-blob div:nth-child(8) {
  top: 0;
  left: 0;
  -webkit-animation: anim-8 2.5s ease-in-out infinite;
          animation: anim-8 2.5s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes anim-8 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: -19px;
    top: 2px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes anim-8 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: -19px;
    top: 2px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.glowy-blob div:nth-child(9) {
  top: 0;
  left: 0;
  -webkit-animation: anim-9 2.5s ease-in-out infinite;
          animation: anim-9 2.5s ease-in-out infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes anim-9 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: -27px;
    top: -23px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes anim-9 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: -27px;
    top: -23px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.glowy-blob div:nth-child(10) {
  top: 0;
  left: 0;
  -webkit-animation: anim-10 2.5s ease-in-out infinite;
          animation: anim-10 2.5s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes anim-10 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: -59px;
    top: 16px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes anim-10 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: -59px;
    top: 16px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.glowy-blob div:nth-child(11) {
  top: 0;
  left: 0;
  -webkit-animation: anim-11 2.5s ease-in-out infinite;
          animation: anim-11 2.5s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes anim-11 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: -57px;
    top: -15px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes anim-11 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: -57px;
    top: -15px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.glowy-blob div:nth-child(12) {
  top: 0;
  left: 0;
  -webkit-animation: anim-12 2.5s ease-in-out infinite;
          animation: anim-12 2.5s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes anim-12 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: -44px;
    top: -6px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes anim-12 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: -44px;
    top: -6px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.glowy-blob div:nth-child(13) {
  top: 0;
  left: 0;
  -webkit-animation: anim-13 2.5s ease-in-out infinite;
          animation: anim-13 2.5s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes anim-13 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 1px;
    top: -41px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes anim-13 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 1px;
    top: -41px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.glowy-blob div:nth-child(14) {
  top: 0;
  left: 0;
  -webkit-animation: anim-14 2.5s ease-in-out infinite;
          animation: anim-14 2.5s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes anim-14 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 20px;
    top: 1px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes anim-14 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 20px;
    top: 1px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.glowy-blob div:nth-child(15) {
  top: 0;
  left: 0;
  -webkit-animation: anim-15 2.5s ease-in-out infinite;
          animation: anim-15 2.5s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes anim-15 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 47px;
    top: -19px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes anim-15 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 47px;
    top: -19px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.glowy-blob div:hover {
  cursor: default;
}

@-webkit-keyframes huerot {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
}

@keyframes huerot {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
}
/*# sourceMappingURL=index.css.map */